
/*html {background:#17272d url(../images/pbd-body.jpg) 0 0 repeat-x;}*/
html {background:#17272d; }

body.login {background: #414751 url('images/header-bg.jpg') repeat 0px -70px; min-height: 810px;}	/* Top bar background color */
.login p#backtoblog a:link, .login p#backtoblog a:visited {color:#dcdcdc;}	/* Link effects in top bar */
.login p#backtoblog a:hover, .login p#backtoblog a:active {color:#dcdcdc;text-decoration:underline;}	/* Rollover link effects in top bar */


.login h1 a {
background: url(images/logo.png) no-repeat top center;
width: 326px;
height: 67px;
text-indent: -9999px;
overflow: hidden;
padding-bottom: 35px;
display: block;
}


body {
font: 12px Arial, Helvetica, sans-serif;
color: #2B2B2B;
background: url(images/bg.gif) repeat-x top;
}

form {
margin-left: 8px;
padding: 26px 24px 46px;
font-weight: normal;
-moz-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
background: transparent;
border: 0px solid #E5E5E5;
-moz-box-shadow: none;
-webkit-box-shadow: none;
-khtml-box-shadow: none;
box-shadow: none;
}

#login {
width: 400px;
margin: 0em auto;
}

input.button-primary, button.button-primary, a.button-primary{
border-color: #CCC;
font-weight: bold;
color: black;
background: white;
text-shadow: none;
}


a.button-primar:hover,input.button-primary:hover, button.button-primary:hover
{
border-color: #CCC;
font-weight: bold;
color: black;
background: #e3e8ec;
text-shadow: none;
}


.login #nav a, .login #backtoblog a{color: #dcdcdc;}

#nav {
text-shadow: none;
margin: 0 0 0 16px;
padding: 16px 16px 0;
font-size: 23px;
}


.login form{
    background: none;

}



#loginza h2{
  color: #dcdcdc;
}

#login form p.submit{
  width: 100%;
min-height: 54px;
}

#login form p.submit #wp-submit{
width:100%;
height: 62px;
margin: 30px 0px;
  font: 30px 'Roboto',Arial, Helvetica, sans-serif;

}

.login form .input, .login form input[type=checkbox], .login input[type=text]{
  border: 1px solid #5f656c;
  background-color: #181F2C;
  color: #ccc;
}

#loginza{
  height: 160px;
}

#login{
      padding: 50px 0 0;
}

.login form{
  padding: 26px 24px 0px;
}

#backtoblog
{display: none;}

.login #nav a{
display: block;
width: 39%;
float: left;
border: 1px solid #fff;
color: #fff;
padding: 10px;
text-align: center;
margin: 5px;
font: 16px 'Roboto',Arial, Helvetica, sans-serif;
}

.login #nav a:hover{
border: 1px solid #00a0d2;
}

#login label{
  color: #fff;
}

.login #login_error, .login .message
{
      background-color: #2A303C;
      color: white;
}
