@font-face
{
    /*font-family: 'Segoe Script';*/
   /* src: url("fonts/SegoeScript.eot") src: url("fonts/SegoeScript.eot-#iefix") format('embedded-opentype'), url("fonts/SegoeScript.woff") format('woff'), url("fonts/SegoeScript.ttf") format('truetype'), url("fonts/SegoeScript.svg#SegoeScript") format('svg');
    */
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font: 15px Arial, Helvetica, sans-serif;
    color: #000;/*#2b2b2b;*/
   /* background: url(images/bg.gif) repeat-x top;*/
    background-color: #f4fafb !important;
}

a {
    color: #40454e;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

a img {
    border: none;
}

.clear {
    clear: both;
}

img.alignleft { float: left; margin-right: 10px; }
img.alignright { float: right; margin-left: 10px; }
img.aligncenter { display: block; margin: 0 auto; }

#site {
    max-width: 990px;
    margin: 0 auto;
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    padding: 10px;
}

.home {
    font-family: SegoeScript;
}

/* Header
--------------------------- */
#header {
    min-height: 155px;
    margin-right: 0px;
    margin-left: 0px;
}

.dict #header {
    min-height: 170px;
}

.login { /*position: absolute; top: 10px; right: 22px; */ color: #777;  }
.login a { color: #777; margin: 0 5px; }

.sbuttons { width: 420px; margin: 0 auto 10px; overflow: hidden; _zoom: 1; }
.sbuttons .sbut { float: left; }
.dict .sbuttons {  margin: 0; }

#header h1 a {
    /*position: absolute;
    top: 17px;
    left: 0;*/
    outline: none;
}

.searchform {


/*
    position: absolute;
    left: 315px;
    top: 45px;*/
}

.searchform form{
    border: 1px solid #cccccc;
    border-radius: 10px;
    background: white;
    height: 50px;
}

.dict .searchform form{
    height: 60px;
}


.searchform input,.searchformdict input {
    float: left;
    border: none;
}

.searchform .stxt {
   /* background: url(images/stxt.gif) no-repeat;*/
    width: 100%; /*317px;*/
    padding: 12px 0 13px 10px;
    color: #888;
    font-size: 20px;
    background: white;
    border-radius: 10px;
}

.searchformdict .stxt {
    /*background: url(images/stxt.gif) no-repeat;*/
    width: 100%; /*217px;*/
    padding: 12px 0 13px 10px;
    color: #888;
    font-size: 20px;
    background: white;
    border-radius: 10px;
}

.searchform .stxt:focus,searchformdict .stxt:focus { outline: none; }

.searchform .sbtn, .searchformdict .sbtn{
    /*background: url(images/sbtn.gif) no-repeat;*/
    width: 103px;
    height: 46px;
    cursor: pointer;
    float:right;
    margin-top: -47px;
    background: #D4DADF;
    border-radius: 10px;
    margin-right: 1px;
    color:rgb(70, 93, 109);
    z-index: 100000;
    font-size: 1.6em;
}

.social {
    position: absolute;
    top: 55px;
    right: 10px;
}

.social a {
    background-image: url(images/join.gif);
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
    float: left;
    display: block;
    margin: 0 11px;
    outline: none;
}

.facebook {
    background-position: -32px 0;
}

.twitter {
    background-position: 5px 0;
}

.gplus {
    background-position: -60px 0;
}

#wrapper {
    overflow: hidden;
    _zoom: 1;
    padding-bottom: 20px;
    background-color: white;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 1px 5px grey;
      padding: 20px 0 0 21px;
}

/* Wrapper
--------------------------- */
.home #wrapper .widget {
   /* width: 295px;
    height: 250px;
    padding: 10px;*/
    min-height: 250px;
    background-repeat: no-repeat;
    background-position: 20px 75px;
    position: relative;
    text-shadow: 1px 1px 0 #fff;
	float:left;
}

.home #wrapper .widget .widgettitle
{
	text-align: center;
	
}
.home #wrapper .textwidget {
    padding-left: 165px;
}

.home #wrapper .widget h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

.home #wrapper .widget:hover {
    background-color: #e8eef1;
}

.home #wrapper .widget img {
    float: left;
    margin-right: 30px;
}

.home #wrapper .widget a.homewidget {
	outline: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 450px;
    height: 279px; /*-moz-border-radius: 20px; border-radius: 20px; */
    display: block;
    outline: none;
}

.home #wrapper .widget ul li {
    background: url(images/li.gif) no-repeat left 7px;
    padding-left: 16px;
    font-size: 14px;
    margin-bottom: 5px;
}

/*   start of main widgets      */


#text-3, #text-4,#text-5 {
     /*border-bottom: 1px solid #d8dbdd; */
}

#text-3, #text-4,#text-6, #text-7,#twitter-3  {
    
  /*  border-right: 1px solid #d8dbdd;*/
}



.home #wrapper #text-6,.home #wrapper #text-7,.home #wrapper #text-8,.home #wrapper #twitter-3{
	height: 350px;	
}



.home #text-8 .textwidget{
	padding-left: 0;
	font-size: 14px;
}
/*
#text-5 {
    background-image: url(images/course.png);
}
*/
#text-7 .widgettitle{
font-size:0px;
line-height:0px;

}
#twitter-3 .widgettitle
{
	color: blueViolet;
	
}

#text-8 .widgettitle{
	
	color: red;	
}

#text-3 {
    background-image: url(images/dictionary.png);
}

#text-3 h2 { color: #d445d8; }

#text-4 {
    background-image: url(images/download.png);
}

#text-4 h2 { color: #019601; }

#text-5 {
    background-image: url(images/course.png);
}

#text-5 h2 { color: #1596d2; }

#text-6 {
    background-image: url(images/media.png);
}

#text-6 h2 { color: #ffae00; }
/*
#text-3 { border-top-left-radius: 20px; -moz-border-topleft-radius: 20px; border-topleft-radius: 20px; }
#text-4 { border-top-right-radius: 20px; -moz-border-topright-radius: 20px; border-topright-radius: 20px; }
*/
/* #text-5 { border-bottom-left-radius: 20px; -moz-border-bottomleft-radius: 20px; border-bottomleft-radius: 20px; }
 #text-6 { border-bottom-right-radius: 20px; -moz-border-bottomright-radius: 20px; border-bottomright-radius: 20px; }
*/


/*   end of main widgets      */


.share {
    display: none;
}

.home .share {
    text-align: center;
    display: block;
}

.home .really_simple_share {
    margin: 0 auto;
    width: 445px;
}

.post { margin-bottom: 20px; }

.post  .sub{ padding-left: 15px;}
.post h1 {
   /* font-family: Segoe Script;*/
    font-size: 22px;
    margin-bottom: 5px;
    text-shadow: 1px 1px 0 #fff;
    padding-left: 15px;
}

.post h2 {  font-size: 17px; }

.post h1 a {
    text-decoration: none;
}

.post h1 a:hover {
    text-decoration: underline;
}

.post p {
    line-height: 18px;
    margin-bottom: 12px;
}

.post .sub {
    font-size: 11px;
    color: #888;
    margin-bottom: 6px;
}

.post .sub a {
    color: #888;
}

.post .date {
    font-size: 10px;
    margin-right: 4px;
}

.post .categories {
    margin-left: 4px;
}

.empty {
    clear: both;
    height: 40px;
}

#footer {
    position: relative;
    margin-top: -40px;
    height: 140px;
    font: 11px;/* Segoe Script;*/
    max-width: 990px;
    margin: 0 auto;
    position: relative;

}

#footer .inner {
    border-top: 1px solid #d8dbdd;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    padding-top: 10px;
	min-height: 50px;
    margin-bottom: 20px;

	
}

#footer .partners
{
    margin-bottom: 20px;
    max-width: 990px;
}

.category .post {
    /*float: left;
    width: 429px;*/
    padding: 20px 20px 0 20px;
    min-height: 210px;
}




.category .post h2 {
    margin: 0;
    line-height: 26px;
}

.category .post a.btn{
    text-decoration: none;
    font-size: 16px;
}

.category .post img {
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    padding: 2px;
    margin-right: 10px;
    /*width:100%;
    height:100%;*/
}

.single div.really_simple_share {
    margin-top: 20px;
}

#mainmenu {
  /*  position: absolute;
    top: 125px;*/
  /*  left: 0;*/
    width: 100%;
    max-width: 970px;
    z-index: 10000000;
}

.catlist, #mainmenu {
    background: #e3e8ec;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #00bbf8;
   
}

#mainmenu
{
    margin-bottom: 20px;
}
.catlist h1{
 color:#1596D2;
 margin-top: 0px;
 margin-bottom: 0px;

}

.catlist ul li, #mainmenu a {
    display: inline;
    font-size: 15px;
    padding: 0 0px;
}

#navigation label {
    font-size: 25px; /* dict*/
   /* font-family: Segoe Script;*/
    display: block;
    margin-bottom: 30px;
}

.searchblock .stxt {
    background: #FFFFFF;
    border: 1px solid #BBBDBF;
    border-radius: 5px 5px 5px 5px;
    font: 18px Arial, Helvetica, sans-serif !important;
    height: 24px !important;
    padding: 11px 0px 12px 5px;
    width: 230px !important;
    color: #888888;
    border-right: none;
      margin-right: -10px;
}

.searchblock .stxt:focus { outline: none; }

.letter {
    width: 25px;
    float: left;
}

.keywords {
    width: 400px;
    float: left;
    min-height: 25px;
    height: 37px;
    overflow: hidden;
    margin: 5px 10px;
}

.keywords a {
    font-size: 16px;
    font-weight: bold;

}

.dict-block {
    width: 390px;
    margin: 20px 20px;
    float: left;
    border: 1px solid #ccc;
    padding: 20px;
    font-size: 20px;
}

/*.menu {
    height: 10px;
    vertical-align: middle;
    padding: 10px;
}

.menu a {
    font-size: 17px;
}*/

#navigation {
/*float: left;*/
    width: 350px;
}

#result {



}

.wl {
    font-size: 20px;
}

input#keyword {
   /* width: 95%;
    height: 35px;
    font: 35px bold;*/

}

div#container {
    text-align: left;
}

.button {
    display: block;
    height: 16px;
    padding: 5px;
    border: 1px solid black;
    color: black;
    width: 50px;
    float: right;
    border-image: initial;
}

p {
    margin: 0 10px 10px;
}

div#container {
    width: 100%;
    margin: 0 auto;
}

div#container {
    text-align: left;
}

div#content {
   /* float: right;*/
    /*width: 610px;*/
}

div#content p {
    line-height: 1.4;
}

p {
    margin: 0 10px 10px;
}

.gddictname {
    font-size: 15px;
    border-bottom: 1px solid #ccc;
	text-align: right;
    clear: both;
    margin-top: 40px;
}

.gdword {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
}

.gdarticle {
    margin: 0 0 30px 20px;
    font-size: 13px;

}

.pagination a {
    font-size: 16px;
    margin: 0 2px;

}

.letter1, .letter2 {
    font-size: 14px;
    margin: 0 2px;
    margin-left: 50px;

}

.letter1 a, .letter2 a {

    margin-left: 10px;

}

.dcontent {
    margin: 0 40px;
}

.error_holder {color:red; padding: 10px 0px;line-height: 20px;}
.small {color: #696969; font-size:  10px;}

.error404 .entry-content
{
    background: transparent url('images/404.png') no-repeat;
    width:600px;
    height: 500px;
}


#footer-menu li { display: inline; margin-left: 15px; }

.copyright {  }
#footer-menu { float: right; }

.linklove, .error404 .sbuttons { display: none; }

.commentlist { width: 600px; }
.commentlist li.comment { border: 1px solid #d8dbdd; padding: 10px; margin-bottom: 10px; }
.commentlist .avatar { float: left; border: 1px solid #d8dbdd; margin: 0 10px 10px 0; }
.commentlist li cite { font-weight: bold; font-style: normal; margin-bottom: 5px; }
.commentlist li .comment-meta { font-size: 10px; }
.commentlist li .comment-meta a { text-decoration: none; color: #555; }
.commentlist li p { clear: both; }
.commentlist .reply { padding-bottom: 10px; }

#respond p { margin: 0 0 10px 0; }
#respond .tit-h1, .tit-h2 { font-size: 14px; font-weight: bold; margin-bottom: 8px; }
#respond label { display: block; line-height: 18px; }
#respond input { padding: 3px; }

#float_chars_block, #float_chars_icon{position:absolute;left:0;top:0;display:none;z-index: 9999;}
#float_chars_block {background-color: #FFFFFF;border: 1px solid #888888;display: none;left: 0;padding: 8px;position: absolute;top: 0;width: 92px;z-index: 9999;}
#float_chars_block span {border: 1px solid #CCCCCC;cursor: pointer;display: block;float: left;margin: 2px;padding: 4px;}
#float_chars_block .close {color: #C00000;cursor: pointer;font-weight: bold;height: 6px;position: absolute;right: 1px;top: -1px;width: 6px;}

#comments { clear: both; }

/*#header .android { position: absolute; right: 200px; top: 39px; }

#header .iosapp { position: absolute; right: 360px; top: 39px; }

#header .iosapp  img, #header .android img {height: 45px;}
*/
.netkg{}



.tip_trigger{
    color:#008000;
    font-weight: bold;
    font-size: 14px;

}
.tip {
    color: #fff;
    background:#1d1d1d;
    display:none; /*-- Скрываем подсказку --*/
    padding:10px;
    position:absolute;
    z-index:1000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}


.dlist1{
    margin-left: -15px;
    font-weight: bold;
    font-size: 18px;
}
.wcolor2{
    color:maroon;
}

.wcolor3{
    color: indigo;
    font-weight: bold;
    font-size: 16px;
}

.addword-menu{

   float: right;
   /*  position: absolute;
    right: -15px;
    top: 1px;*/
}



/*   twitter changes */
.timeline-header{
	display:none;
}

.soros
{
    float: left;
    width: 350px;
	margin-left: 100px;
}
.soros a
{
display: block;
float: left;
}

.copyrightdict
{
	text-align: center;
	font-size: 19px;
	line-height: 22px;
}


/* bootstrap changes*/


#header .logoimg
{
    height: 120px;
}

#header .logoimg, #header .searchform, #header .login
{
    padding:10px;
}


#header .logoimg h1{ margin:0;}


.navbar-nav>li{
    font-size: 18px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus
{
    color: white;
    background-color: #42AADA;
}

.navbar-default .navbar-nav>.active>a:hover{ background-color: #2EA92E; color: white;}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: white;
    background-color: #D445D8;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover
{
    color: white;
    background-color: #D445D8;
}

#topmenu{  margin: 10px 0; }



.btn.btn-download{
background: none;
/*padding: 12px;*/
border: 2px solid #5bc0de;
color: #5bc0de;
border-radius: 10px;

}

.btn.btn-download .btn-primary
{
	background:#5bc0de;
	border: 1px solid #5bc0de;
}

.btn.btn-download:hover {
border: 2px solid #2EA92E;
color: #2EA92E;
}

.btn.btn-download:hover .btn-primary {
    background:#5bc0de;

}



.btn-download span.downloadicon
{
	float: left;
	width: 36px;
 	margin-right: 15px;
  font-size: 36px;
}

.btn-download .btn-default
{

	background: none !important;
  border: 0px !important;
 box-shadow: none !important;
font-size: 24px;
margin: 0px;
padding: 0px;

}


.apps{  margin: 20px 0;}


#result{
    border: 1px solid #ccc;
    padding: 0px;
    border-top:0px;
    width: 86%;
    margin-left: 2%;
    max-height: 400px;
    overflow: hidden;

    position: absolute;
    background-color: white;
    z-index: 10000000;

    overflow: auto;
      margin-top: 58px;
}

#result .wl{
    padding: 0 10px;
}

.wl:hover{
    background-color: #dbf3fd;
}

.fixed{
    top:0;
    position: fixed;
}


#float_chars_block{
    left: 56%;
    top: 59px;
    z-index: 1000000000;

}


#ajaxBusy
{
    left: 43%;
    top: 0%;
       /* margin: -100px 0 0 -250px; */
    position: absolute;
        width:auto;
}