@font-face
{
    /*font-family: 'Segoe Script';*/
   /* src: url("fonts/SegoeScript.eot") src: url("fonts/SegoeScript.eot-#iefix") format('embedded-opentype'), url("fonts/SegoeScript.woff") format('woff'), url("fonts/SegoeScript.ttf") format('truetype'), url("fonts/SegoeScript.svg#SegoeScript") format('svg');
    */
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font: 15px 'Roboto',Arial, Helvetica, sans-serif;
    color: #000;/*#2b2b2b;*/
   /* background: url(images/bg.gif) repeat-x top;*/
    background-color: #f2f2f2 !important;
}

a {
    color: #40454e;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

a img {
    border: none;
}

.clear {
    clear: both;
}

img.alignleft { float: left; margin-right: 10px; }
img.alignright { float: right; margin-left: 10px; }
img.aligncenter { display: block; margin: 0 auto; }

#site {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    padding: 10px;
    margin-top: -61px;
}

.home {
    /*font-family: SegoeScript;*/
}

/* Header
--------------------------- */
#header {
    min-height: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.dict #header {
  /*  min-height: 170px;*/
}

.login { /*position: absolute; top: 10px; right: 22px; */ color: #777;  }
.login a { color: #777; margin: 0 5px; /*text-transform: uppercase; */ text-decoration: none;}

.sbuttons { width: 420px; margin: 0 auto 10px; overflow: hidden; _zoom: 1; }
.sbuttons .sbut { float: left; }
.dict .sbuttons {  margin: 0; }

#header h1 a {
    /*position: absolute;
    top: 17px;
    left: 0;*/
    outline: none;
}

.searchform {

  max-width: 1200px;
  margin: 25px auto 0px;


}

.searchform form{
    /*border: 1px solid #cccccc;
    border-radius: 10px;
    background: white;*/
    height: 50px;
}

.dict .searchform form{
  /*  height: 60px;*/
}


.searchform input,.searchformdict input {
    float: left;
    border: none;
}

.searchform #stxt {
padding-left:82px ;
padding-bottom: 11px;
padding-top: 11px;
font-size: 20px;
}

.searchform label h1{
  font-size: 14px;
  color: #dcdcdc;
  font-weight: normal;
  margin: 2px;
}

.isearch
{
    float: left;
    position: absolute;
    margin-top: 18px;
    margin-left: 36px;
    /*background: url(images/search.png) no-repeat;*/
    width: 24px;
    height: 24px;
}
.searchtext{
      background: transparent url(images/search.png) no-repeat 15px center !important;
}

.searchformdict .stxt {
    /*background: url(images/stxt.gif) no-repeat;*/
    width: 100%; /*217px;*/
    padding: 12px 0 13px 10px;
    color: #888;
    font-size: 20px;
    background: white;
    border-radius: 10px;
}

.searchform .stxt:focus,searchformdict .stxt:focus { outline: none; }

.searchform .sbtn, .searchformdict .sbtn{
    /*background: url(images/sbtn.gif) no-repeat;*/
    /*width: 103px;
    height: 46px;*/
    cursor: pointer;
    float:right;
    margin-top: -47px;
    background: #D4DADF;
    border-radius: 10px;
    margin-right: 1px;
    color:rgb(70, 93, 109);
    /*z-index: 100000;*/
    font-size: 1.6em;
}

.social {
    position: absolute;
    top: 55px;
    right: 10px;
}

.social a {
    background-image: url(images/join.gif);
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
    float: left;
    display: block;
    margin: 0 11px;
    outline: none;
}

.facebook {
    background-position: -32px 0;
}

.twitter {
    background-position: 5px 0;
}

.gplus {
    background-position: -60px 0;
}

#wrapper {
    overflow: hidden;
    _zoom: 1;
    padding-bottom: 20px;
    background-color: white;
      border-radius: 0px;
      overflow: hidden;
      box-shadow: 0 1px 3px grey;
      padding: 20px 10px 0 10px;
}

.dbcontent
{
  padding-bottom: 20px;
  background-color: white;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 0 1px 3px grey;
    padding: 20px 10px 20px 10px;
    margin: 20px 0;
}

/* Wrapper
--------------------------- */
.home #wrapper .widget {
   /* width: 295px;
    height: 250px;
    padding: 10px;*/
    min-height: 250px;
    background-repeat: no-repeat;
    background-position: 20px 75px;
    position: relative;
    text-shadow: 1px 1px 0 #fff;
	float:left;
}

.home #wrapper .widget .widgettitle
{
	text-align: center;

}
.home #wrapper .textwidget {
    padding-left: 165px;
}

.home #wrapper .widget h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

.home #wrapper .widget:hover {
    background-color: #e8eef1;
}

.home #wrapper .widget img {
    float: left;
    margin-right: 30px;
}

.home #wrapper .widget a.homewidget {
	outline: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 450px;
    height: 279px; /*-moz-border-radius: 20px; border-radius: 20px; */
    display: block;
    outline: none;
}

.home #wrapper .widget ul li {
    background: url(images/li.gif) no-repeat left 7px;
    padding-left: 16px;
    font-size: 14px;
    margin-bottom: 5px;
}

/*   start of main widgets      */


#text-3, #text-4,#text-5 {
     /*border-bottom: 1px solid #d8dbdd; */
}

#text-3, #text-4,#text-6, #text-7,#twitter-3  {

  /*  border-right: 1px solid #d8dbdd;*/
}



.home #wrapper #text-6,.home #wrapper #text-7,.home #wrapper #text-8,.home #wrapper #twitter-3{
	height: 350px;
}



.home #text-8 .textwidget{
	padding-left: 0;
	font-size: 14px;
}
/*
#text-5 {
    background-image: url(images/course.png);
}
*/
#text-7 .widgettitle{
font-size:0px;
line-height:0px;

}
#twitter-3 .widgettitle
{
	color: blueViolet;

}

#text-8 .widgettitle{

	color: red;
}

#text-3 {
    background-image: url(images/dictionary.png);
}

#text-3 h2 { color: #d445d8; }

#text-4 {
    background-image: url(images/download.png);
}

#text-4 h2 { color: #019601; }

#text-5 {
    background-image: url(images/course.png);
}

#text-5 h2 { color: #1596d2; }

#text-6 {
    background-image: url(images/media.png);
}

#text-6 h2 { color: #ffae00; }
/*
#text-3 { border-top-left-radius: 20px; -moz-border-topleft-radius: 20px; border-topleft-radius: 20px; }
#text-4 { border-top-right-radius: 20px; -moz-border-topright-radius: 20px; border-topright-radius: 20px; }
*/
/* #text-5 { border-bottom-left-radius: 20px; -moz-border-bottomleft-radius: 20px; border-bottomleft-radius: 20px; }
 #text-6 { border-bottom-right-radius: 20px; -moz-border-bottomright-radius: 20px; border-bottomright-radius: 20px; }
*/


/*   end of main widgets      */


.share {
    display: none;
}

.home .share {
    text-align: center;
    display: block;
}

.home .really_simple_share {
    margin: 0 auto;
    width: 445px;
}

.post { margin-bottom: 20px; }

.post  .sub{ padding-left: 15px;}
.post h1 {
   /* font-family: Segoe Script;*/
    font-size: 22px;
    margin-bottom: 5px;
    text-shadow: 1px 1px 0 #fff;
    padding-left: 15px;
}

.post h2 {  font-size: 17px; }

.post h1 a {
    text-decoration: none;
}

.post h1 a:hover {
    text-decoration: underline;
}

.post p {
    line-height: 18px;
    margin-bottom: 12px;
}

.post .sub {
    font-size: 11px;
    color: #888;
    margin-bottom: 6px;
}

.post .sub a {
    color: #888;
}

.post .date {
    font-size: 10px;
    margin-right: 4px;
}

.post .categories {
    margin-left: 4px;
}

.empty {
    clear: both;
    height: 40px;
}

#footer {
    position: relative;
    margin-top: -40px;
    font: 11px;/* Segoe Script;*/
  /*  max-width: 990px;*/
    margin: 0 auto;
    position: relative;
    background-color: white;
    padding-bottom: 10px;
    min-height: 175px;
}

#footer .inner {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding-top: 50px;
	min-height: 50px;
    margin-bottom: 20px;


}

#footer .partners
{
    margin-bottom: 20px;
    max-width: 990px;
}

.category .post {
    /*float: left;
    width: 429px;*/
    padding: 20px 20px 0 20px;
    min-height: 210px;
}




.category .post h2 {
    margin: 0;
    line-height: 26px;
}

.category .post a.btn{
    text-decoration: none;
    font-size: 16px;
}

.category .post img {
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    padding: 2px;
    margin-right: 10px;
    /*width:100%;
    height:100%;*/
}

.single div.really_simple_share {
    margin-top: 20px;
}

#mainmenu {
  /*  position: absolute;
    top: 125px;*/
  /*  left: 0;*/
    width: 100%;
  /*max-width: 970px; */
    z-index: 10000000;
    min-height: 50px;
}

.catlist, #mainmenu {
    background: #e3e8ec;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #00bbf8;

}

#mainmenu
{
    margin-bottom: 20px;
}
.catlist h1{
 color:#1596D2;
 margin-top: 0px;
 margin-bottom: 0px;

}

.catlist ul li, #mainmenu a {
    display: inline;
    font-size: 15px;
    padding: 0 0px;
}

#navigation label {
    font-size: 25px; /* dict*/
   /* font-family: Segoe Script;*/
    display: block;
    margin-bottom: 30px;
}

.searchblock .stxt {
    background: #FFFFFF;
    border: 1px solid #BBBDBF;
    border-radius: 5px 5px 5px 5px;
    font: 18px Arial, Helvetica, sans-serif !important;
    height: 24px !important;
    padding: 11px 0px 12px 5px;
    width: 230px !important;
    color: #888888;
    border-right: none;
      margin-right: -10px;
}

.searchblock .stxt:focus { outline: none; }

.letter {
    width: 25px;
    float: left;
}

.keywords {
    width: 100%;
    float: left;
    min-height: 40px;
    overflow: hidden;
    padding: 5px 10px;
}


.keywords a {
    font-size: 24px;
    font-weight: bold;

}

.dict-block a {
    width: 100%;
    margin: 5px 0;
    float: left;
    border: 1px solid #ccc;
    padding: 20px;
    font-size: 20px;
}


/*.menu {
    height: 10px;
    vertical-align: middle;
    padding: 10px;
}

.menu a {
    font-size: 17px;
}*/

#navigation {
/*float: left;*/
    width: 350px;
}

#result {



}

.wl {
    font-size: 20px;
}

input#keyword {
   /* width: 95%;
    height: 35px;
    font: 35px bold;*/

}

div#container {
    text-align: left;
}

.button {
    display: block;
    height: 16px;
    padding: 5px;
    border: 1px solid black;
    color: black;
    width: 50px;
    float: right;
    border-image: initial;
}

p {
    margin: 0 10px 10px;
}

div#container {
    width: 100%;
    margin: 0 auto;
}

div#container {
    text-align: left;
}

div#content {
   /* float: right;*/
    /*width: 610px;*/
}

div#content p {
    line-height: 1.4;
}

p {
    margin: 0 10px 10px;
}

.gddictname {
    font-size: 15px;
    border-bottom: 1px solid #ccc;
	text-align: right;
    clear: both;
    margin-top: 40px;
}

.gdword {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
}

.gdarticle {
    margin: 0 0 30px 20px;
    font-size: 20px;

}

.pagination
{width: 100%;}
.pagination a {
    font-size: 20px;
    margin: 0 2px;
}

.letter1, .letter2 {
    font-size: 20px;
    margin: 0 2px;
    margin-left: 50px;
    text-align: center;
}

.letter1 a, .letter2 a {

    margin-left: 10px;

}

.dcontent {
    margin: 0 40px;
}

.error_holder {color:red; padding: 10px 0px;line-height: 20px;}
.small {color: #696969; font-size:  10px;}

.error404 .entry-content
{
    background: transparent url('images/404.png') no-repeat;
    width:600px;
    height: 500px;
}


#footer-menu li { display: inline; margin-left: 15px; }

.copyright, .sorosfooter {
  font-size: 14px;
  color:#dcdcdc;
 }
 .copyright h3 a{color:#212b37; margin-top: 0px; font-family: "Courier New"; text-decoration: none; font-weight: bold; font-size: 33px;}
 .copyright h3{margin: 0;}
#footer-menu { float: right; }

.linklove, .error404 .sbuttons { display: none; }

.commentlist { width: 600px; }
.commentlist li.comment { border: 1px solid #d8dbdd; padding: 10px; margin-bottom: 10px; }
.commentlist .avatar { float: left; border: 1px solid #d8dbdd; margin: 0 10px 10px 0; }
.commentlist li cite { font-weight: bold; font-style: normal; margin-bottom: 5px; }
.commentlist li .comment-meta { font-size: 10px; }
.commentlist li .comment-meta a { text-decoration: none; color: #555; }
.commentlist li p { clear: both; }
.commentlist .reply { padding-bottom: 10px; }

#respond p { margin: 0 0 10px 0; }
#respond .tit-h1, .tit-h2 { font-size: 14px; font-weight: bold; margin-bottom: 8px; }
#respond label { display: block; line-height: 18px; }
#respond input { padding: 3px; }

#float_chars_block, #float_chars_icon{position:absolute;left:0;top:0;display:none;z-index: 9999;}
#float_chars_block {background-color: #FFFFFF;border: 1px solid #CCC;display: none;left: 0;  padding: 2px; position: absolute;top: 0;width: 82px;z-index: 9999;}
#float_chars_block span {border: 1px solid #CCCCCC;cursor: pointer;display: block;float: left;margin: 2px;padding: 4px; font-size: 18px; font-weight: bold;}
#float_chars_block .close {color: #C00000;cursor: pointer;font-weight: bold;height: 6px;position: absolute;right: 1px;top: -1px;width: 6px;}

#comments { clear: both; }

#header .android {  height: 45px;}

#header .iosapp {  height: 45px;}

#header .iosapp  img, #header .android img {height: 45px;}

.netkg img{
    float: right;

}



.tip_trigger{
    color:#008000;
    font-weight: bold;
    font-size: 14px;

}
.tip {
    color: #fff;
    background:#1d1d1d;
    display:none; /*-- Скрываем подсказку --*/
    padding:10px;
    position:absolute;
    z-index:1000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}


.dlist1{
    margin-left: -15px;
    font-weight: bold;
    font-size: 18px;
}
.wcolor2{
    color:maroon;
}

.wcolor3{
    color: indigo;
    font-weight: bold;
    font-size: 16px;
}

.addword-menu{

   float: right;
   /*  position: absolute;
    right: -15px;
    top: 1px;*/
}



/*   twitter changes */
.timeline-header{
	display:none;
}

.soros
{
    float: left;
    width: 350px;
	margin-left: 100px;
}
.soros a
{
display: block;
float: left;
}

.copyrightdict
{
	text-align: center;
	font-size: 19px;
	line-height: 22px;
}


/* bootstrap changes*/


#header .logoimg
{
    height: 120px;
}

#header .logoimg, #header .searchform, #header .login
{
    padding:10px;
}


#header .logoimg h1{ margin:0;}


.navbar-nav>li{
  font-size: 16px;
  z-index: 100000000;
  width: 280px;
  background-color: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus
{
    color: #ccc;
    background-color: transparent;
}

.navbar-default .navbar-nav>.active>a:hover{ background-color: transparent; color: #ccc;}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: #ccc;
    /*background-color: #D445D8;*/
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover
{
    color: white;
  /*  background-color: #D445D8;*/
}

#topmenu{  margin: 0px 0; }



.btn.btn-download{
background: none;
/*padding: 12px;*/
border: 2px solid #5bc0de;
color: #5bc0de;
border-radius: 10px;

}

.btn.btn-download .btn-primary
{
	background:#5bc0de;
	border: 1px solid #5bc0de;
}

.btn.btn-download:hover {
border: 2px solid #2EA92E;
color: #2EA92E;
}

.btn.btn-download:hover .btn-primary {
    background:#5bc0de;

}



.btn-download span.downloadicon
{
	float: left;
	width: 36px;
 	margin-right: 15px;
  font-size: 36px;
}

.btn-download .btn-default
{

	background: none !important;
  border: 0px !important;
 box-shadow: none !important;
font-size: 24px;
margin: 0px;
padding: 0px;

}


.apps{  margin: 0px 0;}


#result{
    border: 1px solid #ccc;
    padding: 0px;
    border-top:0px;
    width: 86%;
    margin-left: 2%;
    max-height: 400px;
    overflow: hidden;

    position: absolute;
    background-color: white;
    z-index: 10000000;

    overflow: auto;
      margin-top: 58px;
}

#result .wl{
    padding: 0 10px;
}

.wl:hover{
    background-color: #dbf3fd;
}

.fixed{
    top:0;
    position: fixed;
}


#float_chars_block{
  left: 0px;
  top: -50px;
  z-index: 1000000000;
  position: relative;
  float: left;
}


#ajaxBusy
{
    left: 43%;
    top: 0%;
       /* margin: -100px 0 0 -250px; */
    position: absolute;
        width:auto;
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  padding: 0px;
}

.navbar-tili{
  top: 0;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
}
.navbar-tili .navbar-brand, .navbar-tili .navbar-brand:hover {
  color: white;
}

#logotext,.searchform,#mdform input
{
    font-family: 'Roboto Mono';
}

.login a{
    font-family: 'Roboto';
}

#logotext
{
  font-size: 32px;
  font-weight: bold;
  font-family: "Courier New";
}

/*#logotext span
{
  font-size: 20px;
  font-weight: normal;
}
*/

#logotext {
  margin:21px 0;
  margin-left: 46px;
}
#logotext a{
    text-decoration: none;
    color: white;
    font-size: 24px;
}

a span.green{
    text-decoration: none;
    color: #01aab3;

}

#logotext a span.grey{
    text-decoration: none;
    color: #ccc;
    font-size: 18px;
}

.navbar .login{
  margin:28px 0 0 0;
  float: right;
}

.navbar .login a{
  color:white;
  font-size: 14px;
  font-weight: bold;
}

.headersearch
{
  /*background-color:white;*/
  padding: 10px;
  height: 200px;
}

/* Bootstrap ovverride */

.navbar-default{
background-color: #414751;
background-image: url('images/header-bg.jpg');
}

.navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
        margin-top: 16px;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px 0px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
        margin-left: 50px;
    }

/*   main menu icons classes */
    .navbar-nav>li.icontag{
        background: url('images/icons/pricetag.png') no-repeat 18px 15px;
    }
    .navbar-nav>li.iconhome{
        background: url('images/icons/home.png') no-repeat 18px 15px;
    }
    .navbar-nav>li.iconslovar{
        background: url('images/icons/slovar.png') no-repeat 18px 15px;
    }
    .navbar-nav>li.iconapps{
        background: url('images/icons/apps.png') no-repeat 18px 15px;
    }

    .navbar-nav>li.iconuse{
        background: url('images/icons/use.png') no-repeat 18px 15px;
    }
    .navbar-nav>li.iconlove{
        background: url('images/icons/love.png') no-repeat 18px 15px;
    }
    .navbar-nav>li.iconhelp{
        background: url('images/icons/help.png') no-repeat 18px 15px;
    }
    .navbar-nav>li.iconmail{
        background: url('images/icons/contact.png') no-repeat 18px 15px;
    }


    .navbar-collapse.collapse.in {display: block !important; }

    .navbar-toggle{
          float: left;
    }
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
  background: none;

}

.navbar-default .navbar-toggle:focus .icon-bar,.navbar-default .navbar-toggle:hover .icon-bar{
  background: white;
}


/*  material styles
http://codepen.io/sevilayha/pen/IdGKH
https://scotch.io/tutorials/google-material-design-input-boxes-in-css3
http://www.materialup.com/posts/material-design-input-text
*/


/* form starting stylings ------------------------------- */



#mdform input {
  margin: 0px 0px;

  display: block;

  padding: 10px 0;
  border-bottom: solid 1px #dadadb;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
          transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #dadadb 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #dadadb 4%);
  background-position: -700% 0;
  background-size: 700% 100%;
  background-repeat: no-repeat;
  color: #afafaf;

  padding-bottom: 15px;
}

#mdform .searchtext{
  border: 1px solid #5f656c;
  height: 44px;
}
#mdform input:focus, #mdform input:valid {
  /*box-shadow: none;*/
  outline: none;
  background-position: 0 0;
}
#mdform input:focus::-webkit-input-placeholder, #mdform input:valid::-webkit-input-placeholder {
  color: #dadadb;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  visibility: visible !important;
}

#mdform .sbtn {
  border: 0px solid #ccc;
  background: #00aeef;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  color: white;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 0px;
  top: 22px;
  width: 120px;
  height: 44px;

}
#mdform .sbtn:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}

.navbar-header .topcenter
{
  max-width: 1200px;
  margin: 0 auto;
}

.topbluebox
{
  height: 68px;
  /*background-color: #3f51b5;
  border-color: #e7e7e7;*/
}

.navbar-default .navbar-toggle .icon-bar
{
  background-color: #fff;
}

.navbar-default .navbar-toggle:hover .icon-bar
{
  background-color: #01aab3 !important;
}


.ulist
{
  padding: 40px 0px;
}
.uitem{margin-top: 25px;}

.uitem a{
  display: block;
  height: 90px;
  width: 100%;
  margin-top:20px;
  padding-right: 25px;
}

.utext
{
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 30px;
}
.utext a{ text-decoration: none;}

.utext h2
{font-size: 24px; margin-bottom: 22px;}

.side-menu-glavnoe
{
  margin-top: 0px;
}
.navbar-toggle .icon-bar
{
  height: 3px !important;
}

#navbar-collapse
{
  width: 280px;
  background-color: white;
  z-index: 1000;
  position: absolute;
  margin: -70px 0 0 -15px;
  box-shadow: 2px 3px 5px #292F3B;
  background-color: #414751;
  background-image: url('images/header-bg.jpg');
}
.navbar-default .navbar-toggle{
  position: absolute;
  z-index: 1000000000000;
}



.navbar-header .navbar-toggle span.icon-bar, .navbar-header .navbar-toggle:hover span.icon-bar, .navbar-header .navbar-toggle:active span.icon-bar{
/*display: none;*/
background: white;
}


.navbar-default .navbar-toggle{
  border: none;
}

.navbar-header .navbar-toggle {
width: 44px;
height: 37px;
background: url('images/icons/close1.png') no-repeat 9px;
}

.navbar-header .collapsed {
background-image: none;

}

.navbar-header .collapsed span.icon-bar{
display: block;
}

li.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.menulogo{
  padding-top: 70px;
  padding-bottom: 0px;
}


.bmenu li {
    display: inline;
    position: relative;
    margin: 0 7px;
}

.bmenu li a {
    font-size: 13px;
    color: #000;
}

.navbar-nav>li.open>.dropdown-menu
{
    background: white;
    z-index: 100000000000000;
    display: block;
    width: 280px;
    float: none;
    position: relative;

  }

.dropdown-menu{
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0px;
}

.searchform .tt-menu {
    background: #FFF;
    width: 80%;
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.4);
    position: absolute;
    text-align: left;
    z-index: 10;
}
.searchform .twitter-typeahead {
    width: 100%;
}
.searchform .tt-suggestion {
    font-size: 18px;
    font-family: 'Roboto Mono';
    width: 100%;
    padding: 3px;
}
.searchform .tt-suggestion:hover {
    background: #BBBBBB;
    cursor: pointer;
}
.searchform .tt-dataset-keywords {
    padding-top: 0px;
    padding: 12px;

}


.login-i{
  background: transparent url("images/login-i.png") no-repeat left  top;
  padding-left: 25px;
  color: #00aeef !important;
  margin-right: 30px !important;
}
.reg-i{
  background: transparent url("images/reg-i.png") no-repeat left  top;
  padding-left: 25px;
}
