{% extends 'layout/layout.html.twig'%}

{%block title%}Список словарей  Кыргызко - Русские и Русско-Кыргызские на  Tili.kg{%endblock%}


{%block content%}

<div id="container">
<div id="">
<div id="" style="">

    <br/>

    {% for item in result %}
            <div class="dict-block col-xs-12 col-sm-6 col-md-6"><a href="{{asset('/')}}d{{item.id}}/">{{item.name}} <br/><span> (В словаре {{item.wordcount}} слов)</span></a></div>
    {% endfor %}


</div>
</div>

</div>
{% endblock %}
