
{% extends 'layout/base.html.twig' %}

{%block logo%}
  <h1 id="logotext"><a href="/">Tili<span class="green">.kg</span> <span class="grey hidden-xs hidden-sm">Все для изучения Киргизского языка!</span></a></h1>
{%endblock%}

{%block menu%}
    <a href="/">Главная</a> |
    <a href="/dict">Онлайн Словарь</a> |
    <a href="/dict/dlist/">Словари от А до Я</a> |
    <a href="/dict/glossary/">Глоссарий</a> |


    <a href="/dict/add/" class="addword-menu"><img src="/dict/assets/images/button-addword.gif"></a>
{%endblock%}

{%block content%}

{%endblock%}
